spring:
  application:
    name=BookMyEvent
  server:
    port: 8084

  datasource:
    url: jdbc:mysql://localhost:3306/bookmyevent?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: dev
    password: dev123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

